@page "/"

<PageTitle>Home</PageTitle>

<h1>Welkom bij de Blazor front-end voor de CovautoAPI!</h1>

<p>Kies in het navigatie menu reserveringen of ritten om deze te kunnen bekijken, aanmaken, wijzigen of verwijderen.</p>